<mat-card>
    <mat-card-content>
        <form [formGroup]="form">
            <h2>Kreiranje potvrde o vakcinaciji</h2>
            <mat-form-field>
                <input matInput placeholder="Ime i prezime" formControlName="imePrezime" required />
                <mat-error *ngIf="!form.valid">Ime i prezime je <strong>obavezno</strong></mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="select">
                <mat-label>Datum rodjenja</mat-label>
                <input matInput [matDatepicker]="to" formControlName="datumRodjenja">
                <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                <mat-datepicker #to></mat-datepicker>
                <mat-error *ngIf="!form.valid"><strong>Obavezno</strong></mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="select">
                <mat-label>Odaberite pol</mat-label>
                <mat-select required formControlName="pol">
                    <mat-option *ngFor="let option of gender" [value]="option.value">
                        {{option.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!form.valid"><strong>Obavezno</strong></mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Jmbg" formControlName="jmbg" />
                <mat-error *ngIf="!form.valid">Jmbg je <strong>obavezan</strong></mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="select">
                <mat-label>Odaberite vakcinu</mat-label>
                <mat-select required formControlName="vakcina">
                    <mat-option *ngFor="let vaccine of vaccines" [value]="vaccine.value">
                        {{vaccine.value}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!form.valid"><strong>Obavezno</strong></mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="openCompDialog()">
                Dodaj primljenu dozu
            </button>

            <table *ngIf="vaccines.length > 0" mat-table [dataSource]="doze" class="mat-elevation-z8">
            
                <ng-container matColumnDef="datum_davanja">
                    <th mat-header-cell *matHeaderCellDef> Datum davanja vakcine </th>
                    <td mat-cell *matCellDef="let element"> {{element.datum_davanja}} </td>
                </ng-container>
            
                <ng-container matColumnDef="serija">
                    <th mat-header-cell *matHeaderCellDef> Serija vakcine </th>
                    <td mat-cell *matCellDef="let element"> {{element.serija}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="submit()">
                Kreiraj
            </button>
        </form>
    </mat-card-content>
</mat-card>