<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <h2>Registracija</h2>
            <mat-form-field>
                <input matInput placeholder="Ime" formControlName="ime" required />
                <mat-error *ngIf="errorHandling('ime', 'required')" id="val-username-error"
                    class="invalid-feedback animated fadeInUp" style="display: block">
                    Ime je obavezno polje
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Prezime" formControlName="prezime" required />
                <mat-error *ngIf="errorHandling('prezime', 'required')" id="val-username-error"
                    class="invalid-feedback animated fadeInUp" style="display: block">
                    Prezime je obavezno polje
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Jmbg" formControlName="korisnickoIme" required />
                <mat-error *ngIf="errorHandling('korisnickoIme', 'required')" id="val-username-error"
                    class="invalid-feedback animated fadeInUp" style="display: block">
                    Jmbg je obavezno polje
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required />
                <mat-error *ngIf="errorHandling('email', 'required')" id="val-username-error"
                    class="invalid-feedback animated fadeInUp" style="display: block">
                    Email je obavezno polje
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Lozinka" formControlName="lozinka"
                    required />
                <mat-error *ngIf="errorHandling('lozinka', 'required')" id="val-username-error"
                    class="invalid-feedback animated fadeInUp" style="display: block">
                    Lozinka je obavezno polje
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!form.valid">
                Registrujte se
            </button>
        </form>
    </mat-card-content>
</mat-card>