<mat-card>
    <mat-card class="s">
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <mat-form-field>
                    <input matInput placeholder="Pretraga(jmbg)" formControlName="jmbg" required />
                    <mat-error *ngIf="!form.valid">Jmbg je <strong>obavezan</strong></mat-error>
                </mat-form-field>
                <button class="b" mat-raised-button color="primary" [disabled]="!form.valid">
                    Pretraga
                </button>
            </form>
        </mat-card-content>

    </mat-card> 
  
        <table *ngIf="search !== ' ' && all !== 0 && dataSource.length !== 0 " mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:900px;">
        
            <ng-container matColumnDef="dokument">
              <th mat-header-cell *matHeaderCellDef style="text-align:center"> Dokument </th>
              <td mat-cell *matCellDef="let element"> {{element.dokument}} </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Id dokumenta</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
          
            <ng-container matColumnDef="prikaz">
              <th mat-header-cell *matHeaderCellDef style="text-align:center"> Prikaz </th>
              <td mat-cell *matCellDef="let row">
                <button mat-button class="button-show" (click)="showDocument(row)">Prikazi</button>
            </td>
            </ng-container>

            <ng-container matColumnDef="preuzmi">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Preuzmi </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-button class="button-pdf" (click)="downloadPDF(row)">PDF</button>
                  <button mat-button class="button-xhtml" (click)="downloadXHTML(row)">XHTML</button>
              </td>
              </ng-container>

            <ng-container matColumnDef="metapodaci">
              <th mat-header-cell *matHeaderCellDef style="text-align:center"> Preuzmi metapodatke </th>
              <td mat-cell *matCellDef="let row">
                <button mat-button class="button-pdf" (click)="downloadJsonMetadata(row)">JSON</button>
                <button mat-button class="button-xhtml" (click)="downloadRdfMetadata(row)">RDF</button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
</mat-card> 
<div id="preview">

</div>
<div *ngIf="referencing.id != ''">
  <label>Referencira dokument:</label>
  <button mat-raised-button color="primary" (click)="showDocument(referencing)">{{referencing.id}}</button>
</div>
<div *ngIf="referenced.id != ''">
  <label>Referenciran u dokumentu:</label>
  <button mat-raised-button color="primary" (click)="showDocument(referenced)">{{referenced.id}}</button>
</div>