
<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h2>Interesovanje za vakcinisanje protiv COVID-19</h2>
      
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
            <input matStartDate formControlName="periodOd" placeholder="Start date">
            <input matEndDate formControlName="periodDo" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      
     
      <button class="b" mat-raised-button color="primary" [disabled]="!form.valid">
          Kreiraj
      </button> 

      
  </form>
  <button (click)="preuzmi()" class="b" mat-raised-button color="primary" [disabled]="!form.valid">
        Preuzmi
    </button> 
  </mat-card-content>
</mat-card>
<div id="izvestaj"></div>

