<mat-toolbar color="primary">
    <span>Vakcinacija protiv COVID-a</span>
        <a mat-button routerLink="/izvestaj">Izvjestaj</a> 
        <a mat-button routerLink="/saglasnost/form">Kreiraj obrazac o saglasnosti</a>
        <a mat-button routerLink="/vaccine-status">Stanje vakcina</a>
        <a mat-button routerLink="/zahtev/table">Zahtevi</a>
        <a mat-button routerLink="/search/documents">Pretraga dokumenata</a>
        <a mat-button routerLink="/search/text-search">Pretraga po tekstu</a>
        <a mat-button routerLink="/search/metadata">Pretraga po meta podacima</a>
        <a mat-button routerLink="/search/logical-search">Logicka pretraga</a>
        <a mat-button routerLink="/potvrda">Kreiranje potvrde</a>
        <a mat-button (click)="logout()">Odjava</a>
</mat-toolbar>
